a {
  text-decoration: none !important;
}

.font-1 {
font-family: Inter;
font-size: 40px;
font-weight: 500;
line-height: 48.41px;
text-align: center;
color: #1C2047;
}

.font-2 {
  font-family: Inter;
font-size: 22px;
font-weight: 700;
line-height: 26.63px;
text-align: center;
color: #1C2047;
}

.font-3 {
font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 26.63px;
text-align: center;
color: #1C2047;
}

.font-4 {
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 28.8px;
text-align: left;
color: #1C2047;
}


.font-5 {
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.03em;
text-align: center;
}

header .navbar a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: center;
}